body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

.content {

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
}

a {
  color: seashell;
  padding: 0px 10px;
}

.logo img {
  padding-left: 10px;
  padding-top: 10px;
  height: 50px;
}

.main {
  padding-top: 69px;
  display: flex;
  justify-content: center;
}

.image-content {
  background-color: black;
  margin-top: 290px;
  width: 100%;
}

.mission {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.main h2 {
  padding-top: 10px;
}

.main h4 {
  padding-bottom: 10px;
}

.featured {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.featured-heading {
  padding-top: 40px;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}

.pictured-item {
  padding: 0px 15px;
}

.pictured-item img {
  height: 200px;
  width: 300px;
}

.pictured-item h4 {
  margin-top: 0px;
  padding-top: 10px;
}

.locations {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.location-img {
  height: 500px;
  width: 1200px;
  background-image: url(../images/img-locations-background.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.location-heading {
  width: 100%;
  position: relative;
  top: 85px;
}

.location-box {
  background-color: black;
  width: 300px;
  margin: 0px 20px;
}
